
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
  body {
    color: #f8f8f8;
    background-color: #141414;
  }
  a {
    color: #7ecbff;
  }
}

body {
  padding: 0 15px;
  margin-bottom: 100px;
}

.container {
  padding: 0;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

header {
  margin-top: 25px;
  text-align: center;
}

header h1 {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

header h2 {
  border: none;
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: 400;
}

header h3 {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 300;
  margin-top: 0.5em;
}

h2 {
  border-bottom: 1px solid #ccc;
  margin-top: 2em;
  padding-bottom: 0.125em;
}

a {
  cursor: pointer;
}

*[monospace] {
  font-family: monospace;
}

input:invalid {
  background-color: orange;
}

.buttons {
  margin: 2em auto 0;
  text-align: center;
}
.buttons .btn {
  margin: 4px 3px;
}

.form-inline {
  margin-bottom: 15px;
}
.form-inline .input-group {
  margin-right: 5px;
}

.share {
  text-align: center;
  margin: 80px 0 45px;
}

.expander {
  display: none;
}
